.new-user{
    flex: 4;
    margin : 20px;
    padding: 20px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.new-user-title {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.new-user-form {
    display: flex;
    flex-wrap: wrap;
}

.new-user-item {
    width: 400px;
    margin-top: 10px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}
.new-user-item > label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(151, 150, 150);
}

.new-user-item > input {
    height: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.new-user-gender > input {
    margin-top: 15px;
}

.new-user-gender > label {
    margin: 10px;
    font-size: 18px;
    color: #555;
}

.new-user-select{
    height: 40px;
    border-radius: 5px;
}

.new-user-button{
    border: none;
    background-color: #43a0f7;
    font-weight: 600;
    width: 200px;
    border: none;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}