.product{
    flex:4;
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.product-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

.product-container {
    display: flex;
    flex-direction: column;
}

.add-product-btn{
    background-color: #00a8ff;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
}

.product-top {
    display: flex;
}

.product-top-left,.product-top-right{
    flex:1;
}

.product-top-right {
    padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.product-info-img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
}

/* .product-top-right-info {
    display: flex;
    align-items: center;
} */

.product-top-right-info-top{
    display: flex;
    align-items: center;
}

.product-name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

.product-info-bottom {
    margin-top: 10px;
}

.product-info-item{
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.product-info-value{
    font-weight: 300;
}

.product-bottom {
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.product-form{
    display: flex;
    justify-content: space-between;
}

.product-form-left {
    display: flex;
    flex-direction: column;
}

.product-form-left > label {
    margin-bottom: 10px;
    color: gray;
}

.product-form-left-input {
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
}

 .product-form-left-input:focus {
    outline: none;
    border:none;
    border-bottom: 2px solid #43a0f7;
}

.product-form-left-select {
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
}

.product-form-left-select:focus {
    outline: none;
    border:none;
    border-bottom: 2px solid #43a0f7;
}

.product-upload-img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.product-form-right {

}

.product-form-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.productUpload{
    display: flex;
    align-items: center;
  }

  .product-button {
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: #43a0f7;
    color: white;
    font-weight: 600;
  }