.user {
    flex: 4;
    padding: 20px;  
}


.user-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-title {
    /* font-size: 1.5em;
    font-weight: bold; */
}

.add-user-btn {
    background-color: #00a8ff;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
}

.user-container {
    display: flex;
    margin-top: 20px;
}

.user-show{
    flex:1;
    padding: 20px;
    margin-right: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.user-show-top {
    display: flex;
    align-items: center;
}

.user-show-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}
.user-show-info{
    display: flex;
    flex-direction: column;
}

.user-show-username {
    font-size: 1.2em;
    font-weight: bold;
}

.user-show-job{
    font-size: 1em;
    color: #999;
}

.user-show-bottom {
    margin-top: 20px;
}

.user-show-bottom-title {
    font-size: 18px;
    font-weight: 600;
    color: rgb(175, 170, 170);
}

.user-show-bottom-info {
    margin: 20px 10px;
    display: flex;
    align-items: center;
    color: #444;
}

.user-show-bottom-icon {
    font-size: 18px !important;
}

.user-show-bottom-text {
    font-size: 18px;
    margin-left: 10px;
}

.user-update {
    flex:2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.user-update-title {
    font-size: 1.2em;
    font-weight: bold;
}
.user-update-form {
    display: flex;
    flex-direction: space-between;
    margin-top: 10px;
}

.user-update-form-left {
    flex:2;
}

.user-update-form-left-item {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}

.user-update-form-left-item>label {
    margin-bottom: 5px;
    font-size: 14px;
}

.user-update-form-left-input {
    width: 250px;
    height: 30px;
    border:none;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 14px;
    margin-bottom: 10px;
}

.user-update-form-left-input:focus {
    outline: none;
    border:none;
    border-bottom: 2px solid #43a0f7;
}
.user-update-form-right {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-update-form-right-upload {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    /* position: relative; */
}

.user-update-form-right-avatar {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.user-update-form-right-upload-icon {
    font-size: 1.5rem !important;
    margin-left: 125px;
    /* position: fixed;
    right: 150px; */
    color: #444;
    cursor: pointer;
}

.user-update-form-button {
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: #43a0f7;
    color: white;
    font-weight: 600;
}